body {
    background-color: rgba(203, 203, 203, 1);
}
.panel{
    margin-top: 30px;
    width: 1400px;
    height: 1300px;
    background-color: rgba(171, 238, 182, 1);
    border-radius: 20px;
    margin-bottom: 100px;
}

.panel .panel2 {
    width: 550px;
    height: 1300px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: solid 2px rgb(105, 105, 105);

}

form{
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
}

label{
    position: absolute;
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    width: 350px;
}

.panel2 .elem{
    position: absolute;
    margin-top: 30px;
    margin-left: 40px;
    
}

.panel2 .txt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

input{
    margin-top: 20px;
    margin-bottom: 24px;
    width: 290px;
    background-color: rgba(233, 233, 233, 1) ;
    height: 30px;
    border: none;
    border-bottom: solid 1px rgba(181, 181, 181, 1);
    outline:none;
    transition: all 0.4s ease-in-out;
}
input::placeholder{
    transform: translateX(10px);
}

.link{ 
    position: absolute;
    margin-top: 20px;
    margin-left: 46px;
    width: 177px;
    height: 30px;
    background-color: rgba(233, 233, 233, 1);
    border-radius: 20px;
    border: solid 1px black;
    transition: all 0.4s ease-in-out;
}
.link:active {
  transform: translate(0px, 2px);
  background-color: rgb(167, 167, 167);
  transition: all 0.4s ease-in-out;
}


.linke:hover{
    background-color: rgb(167, 167, 167);
}

.link p{
    position: absolute;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -4px;
    color: black;
    margin-top: 6px;
    margin-left: 50px;
}

.info{
    width: 230px;
    height: 40px;
    background-color:rgba(171, 238, 182, 1);
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.info p{
    position: absolute;
    padding-left: 46px;
    margin-top: 10px;
}
.info img{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

.elem p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.panel .txt2{
    position: absolute;
    margin-left: 574px;
    margin-top: 58px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:lighter;
    line-height: 24px;
}


.pr{
    position: absolute;
    margin-left: 574px;
    margin-top: 28px;
    width: 200px;
    height: 20px;
    background: rgba(32, 209, 60, 1);
}

.pr2{
    position: absolute;
    margin-left: 574px;
    margin-top: 330px;
    width: 200px;
    height: 20px;
    background: rgba(32, 209, 60, 1);
}






.panel3{
    position: absolute;
    margin-top: 566px;
    margin-left: 40px;
    height: 300px;
}

.pr3{
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    width: 200px;
    height: 20px;
    background: rgba(32, 209, 60, 1);
}
.pr4{
    position: absolute;
    margin-left: 0px;
    margin-top: 302px;
    width: 200px;
    height: 20px;
    background: rgba(32, 209, 60, 1);
}
.txt3{
    position: absolute;
    width: 472px;
    margin-left: 0px;
    margin-top: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:lighter;
    line-height: 24px;
}

.link2{
    position: absolute;
    margin-top: 527px;
    margin-left: 73px;
    width: 262px;
    height: 30px;
    background-color: rgba(32, 209, 60, 1);
    border-radius: 20px;
    border: solid 1px black;
    transition: all 0.4s ease-in-out;
}

.link2 p{
    position: absolute;
    text-decoration: none;
    margin-top: 3px;
    margin-left: 80px;
    color: black;
}

.map{
    margin-left: 635px;
    margin-top: 11px;
}