
body{
   height: 100%;
   margin: 0;
}

header {
    position: fixed;
    background-color:rgb(255, 255, 255);
    height: 106px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
}

header .elements {
    display: flex;
    justify-content: center;
}
header a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    padding: 20px 50px;
    color: black;
    transition: all 0.5s ease;
}

header a:hover{
    color: rgba(0, 202, 32, 1);
}


.links {
    margin-left: 267px;
    margin-top: 38px;
}

header hr{
    margin-top: 25px;
}





.content{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}





footer{
    position: relative;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    bottom: 0px;
    height: 300px;
    color: white;
    left:0px;
    right:0px;
    justify-content: center;
}

footer .copiryght{
    margin-top: 60px;
    margin-left: 20px;
}

footer .links{
    margin-top: 50px;
}


footer .links p{
    font-size: 20px;
    color: rgba(0, 202, 32, 1);
}

footer .links li{
    margin-left: -20px;
}
footer .links li a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}
footer .links li a:hover{
    color: rgba(0, 202, 32, 1);
}
footer .links li::marker{
    color: rgba(0, 202, 32, 1);
    margin-left: -100px;
    font-size: 20px;
}


footer .address{
    margin-left: 800px;
    margin-top: -176px;
}

footer .inf{
    margin-left: 1250px;
    margin-top: -190px;
    
}


footer .media{
    position: absolute;
    margin-left: 1300px;
}
footer .media a{
    text-decoration: none;
}


::-webkit-scrollbar{
    width: 0px;
}

.username{
    font-size: 17px;
    background-color: rgb(187, 187, 187);
    border-radius: 15px;
}
.ulin{
    margin-top: 8px;
    float: right;
    margin-left: 390px;
}
.img4{
    position: absolute;
    margin-left: -28px;
}

.ulin li{
    display: inline;
    list-style-type: none;
    margin-top: 10px;
}
.links2 {
    margin-left: -840px;
    margin-top: 38px;
}
.ulin2 {

    margin-top: 8px;
    float: right;
    margin-left: 1512px;
}
.ulin2 li{
    display: inline;
    list-style-type: none;
    margin-top: 10px;
    
}
.auth{
    position: absolute;
    margin-left: 1335px;
    margin-top: 8px;
}


