{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<head>
    <link type="text/css" href="{% static 'main/css/aboutus.css' %}" rel="stylesheet" />
    <script src="{% static 'main/js/js1.js' %}"></script>
</head>


<div class="banner">
    <img width="1500px" height="400px" src="{% static 'main/images/тепл2.png' %}" alt="">
    <div class="line">
        <p>About NurtureVue®</p>
    </div>
    <div class="text">
        <p>Smart greenhouse - an innovative solution for gardeners, achieving monitoring and control over plant growth parameters, as well as automating irrigation, lighting and heating, increasing the efficiency and effectiveness of plant monitoring.</p>
    </div>
</div>

<div class="">

</div>

{% endblock %}