{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<head>
    <link type="text/css" href="{% static 'main/css/aboutus.css' %}" rel="stylesheet" />
    <script src="{% static 'main/js/js1.js' %}"></script>
</head>


<div class="banner">
    <img width="1500px" height="400px" src="{% static 'main/images/тепл2.png' %}" alt="">
    <div class="line">
        <p>About NurtureVue®</p>
    </div>
    <div class="text">
        <p>Smart greenhouse - an innovative solution for gardeners, achieving monitoring and control over plant growth parameters, as well as automating irrigation, lighting and heating, increasing the efficiency and effectiveness of plant monitoring.</p>
    </div>
</div>

<div class="ban2">
    <div class="pr"></div>
    <p>Many greenhouses, one account: <br> Smart greenhouse - control <br> without borders.</p>
    <div class="text2">
        <p>Our platform allows users to connect and monitor multiple <br> greenhouses on one account. You can easily switch between <br> different greenhouses, view data and graphs for each one, and set <br> individual care settings for each greenhouse. This provides <br> convenience and complete control over all your greenhouses in one place.</p>
    </div>
    <div class="photo">
        <img width="600" height="315" src="{% static 'main/images/планшет.png' %}">
    </div>
    <div class="text3">
        <p>What makes our company special? Here are a few differences <br> that make us stand out from other companies:</p>
        <div class="list">
            <div class="line1">
                <p>Innovate technologies</p>
            </div>
            <div class="line2">
                <p>Flexibility and scalability</p>
            </div>
            <div class="line3">
                <p>Ease of use</p>
            </div>
            <div class="line4">
                <p>Expert team</p>
            </div>
        </div>
        <img height="175px" width="175px" src="{% static 'main/images/росток.png' %}">
    </div>
</div>

<div class="ban3">
    <div class="pr"></div>
    <div class="text4">
        <p>We are a team of enthusiasts offering an innovative solution for gardeners - smart greenhouses. Our goal is to help you create the perfect growing environment by monitoring and controlling important parameters and automating plant care.

            We strive to combine cutting-edge IoT (Internet of Things) technology with the wonderful world of gardening to provide you with the tools and resources to achieve optimal results. Our platform allows you to connect multiple greenhouses on one account, giving you the flexibility and convenience to manage your plants.
            
            We believe in the power of innovation and work passionately to bring you cutting-edge plant care solutions. Our team consists of experienced professionals ready to support you every step of the way, ensuring reliability, quality and an intuitive user experience.
            
            Join us and discover new possibilities in the world of gardening with smart greenhouses. Together we will create green oases worthy of admiration!</p>
    </div>
</div>
{% endblock %}