{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<head>
    <link type="text/css" href="{% static 'main/css/addgrhs.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <title>ADD A GREENHOUSE</title>
    <div class="panel">
        <div class="pr"></div>
        <p class="txt2">For a successful connection, please enter the IMEI of your <br> 
            greenhouse in the field below. IMEI is a unique identifier <br> 
            for your device, which can be found on the packaging or <br>
            on the greenhouse itself. Make sure the IMEI you enter is <br>
            correct and matches your smart greenhouse. After <br>
            entering the IMEI, press the 'Try to connect' button to <br>
            start monitoring and managing your greenhouse. In case <br>
            of successful connection, you will see whether the <br>
            connection was successful or not. If you have any <br>
            questions or problems, please contact our support team. <br>
            Thank you!</p>
        <div class="pr2"></div>
        <div class="panel2">
            <form action="{% url 'addgrhs' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="link" type="submit">Добавить</button>
            </form>
            <div class="map">
                <div class="map-container">
                    <div id="map" style="width: 100%; height: 400px;"></div>
                    <button id="fullscreen-open">Открыть на весь экран</button>
                </div>
            </div>
            <!--<div class="elem">
                <p class="txt">Enter the imei of your chip</p>
                <input placeholder="Imei" type="text">
                <a href="" class="link"><p>Try to connect</p></a>
                <div class="info">
                    <img width="25px" height="25px" src="{% static 'main/images/denger.png' %}" alt="">
                    <p>Successful connection</p>
                </div>
                <p>Enter greenhouse type</p>
                <input placeholder="type" type="text">
                <p>Enter plant type</p>
                <input placeholder="type" type="text">
            </div>-->
            <div class="panel3">
                <p class="txt3">
                    In order to indicate where the greenhouse is located, you need to click on the place on the map, if you indicated it incorrectly, you can hover over it and right-click to remove it
                </p>
            </div>
        </div>
    </div>
</body>
<script>
$(document).ready(function() {
    var map = L.map('map').setView([55.751244, 37.618423], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18,
    }).addTo(map);

    map.on('click', function(e) {
        var latitude = e.latlng.lat;
        var longitude = e.latlng.lng;

        var marker = L.marker([latitude, longitude]).addTo(map);
        $('#id_latitude').val(latitude);
        $('#id_longitude').val(longitude);

        marker.on('contextmenu', function() {
            map.removeLayer(marker);

            $('#id_latitude').val('');
            $('#id_longitude').val('');
        });
    });
});
$(document).ready(function() {
    // Код для создания карты...
    
    // Открытие карты на весь экран
    $('#fullscreen-open').click(function() {
        var mapElement = document.getElementById('map');
        if (mapElement.requestFullscreen) {
                
            mapElement.requestFullscreen();
        } else if (mapElement.mozRequestFullScreen) {
            mapElement.mozRequestFullScreen();
        } else if (mapElement.webkitRequestFullscreen) {
            mapElement.webkitRequestFullscreen();
        } else if (mapElement.msRequestFullscreen) {
            mapElement.msRequestFullscreen();
        }
    });

    // Закрытие полноэкранного режима
    $('#fullscreen-close').click(function() {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
        } else if (document.webkitExitFullscreen) {
            document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) {
            document.msExitFullscreen();
        }
    });
});





</script>

{% endblock %}