
{% load static %}
{% block map %}
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <link type="text/css" href="{% static 'monitoring/css/map.css' %}" rel="stylesheet" />
    </head>
    
    <div class="map-container">
        <select id="city-select">
        <option value="">-- Выберите город --</option>
        <option value="kazan">Казань</option>
        <option value="moscow">Москва</option>
  </select>
        <div id="map" style="width: 100%; height: 400px;"></div>
    </div>
    
    <script>
    var citySelect = document.getElementById("city-select");
        
    var cityCoordinates = {
        kazan: [55.796127, 49.106405],
        moscow: [55.751244, 37.618423]
    };
    var map = L.map('map').setView([0, 0], 13);
    
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18,
    }).addTo(map);
    
    citySelect.addEventListener("change", function() {
        var selectedCity = citySelect.value;
    
        if (cityCoordinates.hasOwnProperty(selectedCity)) {
            var coordinates = cityCoordinates[selectedCity];
        
            map.setView(coordinates, 10);
        
            for (var i = 0; i < greenhouses.length; i++) {
                var greenhouse = greenhouses[i];
                L.marker([greenhouse.latitude, greenhouse.longitude]).addTo(map);
            }
        }
    });
    
    $.ajax({
        url: '/profile/map-data/',
        success: function(data) {
            var greenhouses = data.greenhouses;
            var coordinates = [];
        
            for (var i = 0; i < greenhouses.length; i++) {
                var greenhouse = greenhouses[i];
                L.marker([greenhouse.latitude, greenhouse.longitude]).addTo(map);
                coordinates.push([greenhouse.latitude, greenhouse.longitude]);
            }
            if (coordinates.length > 0) {
                var bounds = L.latLngBounds(coordinates);
                map.fitBounds(bounds);
            }
        }
    });

    </script>
{% endblock %}