{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<head>
    <link type="text/css" href="{% static 'monitoring/css/profile.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Profile</title>
</head>
    <div class="panel1">
        <div class="panel2">
            
            <table>
                <tr>
                    <th>
                        <div class="grnum">
                            <img style="width: 62px;height: 56.795px;" src="{% static 'monitoring/images/362729.png' %}" >
                            <p>Total greenhouse</p>
                            <div id="humidity"></div>
                        </div>
                    </th>
                    <th>
                        <div class="watgr">
                            <img style="width: 50px;height: 50px;margin-top: 5px;" src="{% static 'monitoring/images/water.png' %}" >
                            <p style="margin-left: 25px;margin-top: 65px;">Total water <br> Usage</p>
                            <div id="water"></div>
                        </div>
                    </th>
                    <th>
                        <div class="error">
                            <img style="width: 50px;height: 50px;margin-top: 5px;margin-left: -25px;" src="{% static 'monitoring/images/danger.png' %}" >
                            <p style="margin-left: 30px;">Total errors</p>
                            <div id="error"></div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="gral">
                            <img style="width: 57px;height: 50px;margin-top: 5px;" src="{% static 'monitoring/images/alert.png' %}" >
                            <p style="margin-left:25px;">Total Alerts</p>
                            <div id="alerts">2</div>
                        </div>
                    </th>
                    <th>
                        <div class="gren">
                            <img style="width: 50px;height: 50px;margin-top: 5px;" src="{% static 'monitoring/images/energy.png' %}" >
                            <p style="margin-left: 20px;margin-top: 65px;">Total Energy <br> Used</p>
                            <div id="energy"></div>
                        </div>
                    </th>
                    <th>
                        <div class="grwea">
                            <img style="width: 50px;height: 50px;margin-top: 5px;margin-left: -25px;" src="{% static 'monitoring/images/weather.png' %}" >
                            <p style="margin-left: 35px;">Weather</p>
                            <div id="weather">2</div>
                        </div>
                    </th>
                </tr>
            </table>
                
            
            
        </div>
        <div class="map">
            {% include 'monitoring/map.html' %}
        </div>
    </div>
    <div class="panel3">
        {% include 'monitoring/tepl.html' %}
    </div>
    <script>
        function updateData() {
          $.ajax({
            url: '/profile/update-data/',
            success: function(data) {
              $('#humidity').text(data.humidity);
              $('#water').text(data.lit + 'lit');
              $('#error').text(data.error);
              $('#energy').text(data.energy + 'Kv');
            }
          });
        }
        $(document).ready(function() {
          updateData();
          setInterval(updateData, 5000);
        });
      </script>
{% endblock %}