.panel1{
    
}

.block1{
    display: flex;
    width: 750px;
    height: 384px;
    background-color: rgb(218, 218, 218);
    border-radius: 20px;
    margin-left: -6px;
    margin-bottom: 200px;
}

th{
    padding: 32px 32px;
}

th p{
    position: absolute;
    margin-top: 63px;
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
}
th img{
    margin-left: -30px;
    position: absolute;
    flex-shrink: 0;
}
.grnum{
    width: 135px;
    height: 135px;
    background: #53A360;
    border-radius: 6px;
    
}
#humidity{
    position: absolute;
    margin-top: 97px;
    margin-left: 56px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 23px;

}
.watgr{
    width: 135px;
    height: 135px;
    background: #4EBCBC;
    border-radius: 6px;
}
#water{
    position: absolute;
    margin-top: 97px;
    margin-left: 56px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 23px;

}
.error{
    width: 135px;
    height: 135px;
    background: #BE5757;
    border-radius: 6px;
}
#error{
    position: absolute;
    margin-top: 97px;
    margin-left: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 23px;
}

.gren{
    width: 135px;
    height: 135px;
    background: #7C4F98;
    border-radius: 6px;
    
}
#energy{
    position: absolute;
    margin-top: 97px;
    margin-left: 56px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 23px;
}

table{
    margin-top: -9px;
}

.elements1{
   margin-top: 26px;
}
.temp1{
    width: 313px;
    height: 60px;
    background-color: rgba(225, 237, 250, 1);
    border-radius: 20px;
    margin-bottom: 52px;
}

.img1{
    width: 50px;
    height: 50px;
    padding: 6px 10px;
}

.txt{
    position: absolute;
    margin-top: -47px;
    margin-left: 63px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.temp{
    margin-top: -47px;
    margin-left: 251px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.temp2{
    width: 313px;
    height: 60px;
    background-color: rgba(225, 237, 250, 1);
    border-radius: 20px;
    margin-bottom: 52px;
}

.temp3{
    width: 313px;
    height: 60px;
    background-color: rgba(225, 237, 250, 1);
    border-radius: 20px;
}

#id2{
    position: absolute;
    margin-top: 97px;
    margin-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 23px;

}
.graphics{
    width: 1118px;
    
}